.form-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: $color-white; //
    padding: 0;
}



.form-element {
    margin-bottom: 15px;
    color: $color-white;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
    }

    textarea {
        resize: vertical;
    }

    input[type="checkbox"] {
        margin-right: 5px;
        vertical-align: middle;
    }

    
}


@include mixin_media_query_min('tablet') {
    .form-inline {
        display: flex;
        justify-content: space-between;
    }
    
    .input-group {
        flex: 1;
        margin-right: 10px; /* Espacio entre los campos */
    
        input[type="date"] {
            width: 100% ;
        }
    }
  }


