
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.menu-icon {
    display: none;
    align-self: center;
}

.open-menu {
    display: none;
}

.close-menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        display: none;
        
        &.visible {
            z-index: 1;
            top: 0;
            right: 0;
            display: block;
            position: fixed;
        }
    }

    .open-menu {
        display: block; 
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        gap: 1.7rem;
    }
}
