/* INTRODUCCION */

.indexIntro {
    .intro-info {
        position: relative;
        top: 50%;
    }
  }
  
  /* SERENTIS */
  .indexSerentis {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* OPINIONES */
  #opiniones-seccion {
    display: flex;
    flex-flow: column;
    align-items: center;

    .opinion {
      display: grid;
      grid-template-columns: 1fr 2fr;
  
      .opinion-img {
        align-self: center;
      }
    }
  }
  
  /* REDES SOCIALES */
  #rrss-title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .rrss-icons {
      display: flex;
      gap: 20px;
    }
  }

  .rrss-carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .rrss-carousel {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0; 
    padding: 0;
    
  }
  
  .rrss-slide {
    flex: 0 0 auto;
    margin-right: 0;
    
  }
  
  .rrss-slide img{
    width: 400px;
  }
  
  /* PARTNERS */
  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  
  /* MEDIA QUERIES */
  @include mixin_media_query_min('desktop') {
    #opiniones-seccion .opinion {
      align-items: center;
    }
  }

  @include mixin_media_query('tablet') {
    #opiniones-seccion .opinion {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    #opiniones-seccion .opinion .opinion-img {
        align-self: center;
    }


    //partners en columna
    .partners {
      grid-template-columns: 1fr;
    }
  }
  /* no se si esta bien pero tuve que hacerlo en el css porque tenia la imagen como background */
  
  
  @media (max-width: 400px) {
    /*.indexIntro {
      background-image: url(../../../img/index/index-300.webp);
    }*/
  }
  