$bk-img : url('../media/img/laClinica.webp');
$team-img : url('../media/img/laClinica-about/about-team.webp');
$philosophy-img : url('../media/img/laClinica-about/about-philosophy.webp');
$history-img : url('../media/img/laClinica-about/about-history.webp');

.clinica-intro{
    display: flex;
    align-items: center;
}

.values-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}



