$cita-img-2200 : url('../media/img/cita/form-2200.webp');
$cita-img-1550 : url('../media/img/cita/form-1550.webp');
$cita-img-1200 : url('../media/img/cita/form-1200.webp');
$cita-img-800 : url('../media/img/cita/form-800.webp');
$cita-img-600 : url('../media/img/cita/form-600.webp');


#form-section{
    background: $cita-img-2200 no-repeat center;
    background-size: cover;
    height: fit-content;
    padding: 8%;
    margin: 0%;

    form{
        padding: 5%;

        .form-element{
            color: $color-white;
        }
    }

    label{
        color: $color-light-blue;
        font-family: $font-title;
        font-weight: 400;
        margin-left: 10px;
    }

    input, textarea{
        border: none;
        border-radius: 30px;
        margin: 15px;
        padding: 10px;
        background-color: rgba($color-white, 0.8);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);

    }

    h1{
        color: $color-white;
        text-align: center;
        margin: 6%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        
    }

}


    @include mixin_media_query('desktop') {
        #form-section{
            background: $cita-img-1550 no-repeat center;
        }

    }

    @include mixin_media_query('laptop') {
        #form-section{
            background: $cita-img-1200 no-repeat center;
        }
    }

     @include mixin_media_query('movil') {
        #form-section{
            background: $cita-img-800 no-repeat center;
    }
}
