$tr-bk:url('../media/img/treatments-img/acne-2200.webp');


.treatment-intro{
    height: 30vh;
    padding: 5%;
    background: $tr-bk no-repeat;
    background-size: cover;

    h1{
        margin: 0;
        color: $color-white;
    }

    a{
        padding: 1%;
        height: fit-content;

    }
    
}

.treatment-cont{
    .treatment-related-list h2{
        color:$color-brown;
    }

    a{
        color: $color-blue;
        text-decoration: none;
    }

    .treatment-description article{
        margin: 0;
        padding: 10px;
        padding-top: 0%;
        font-size: clamp(1rem, 1.2vw, 1.5rem); 
        line-height: 1.5;
        margin: 20px 0;
    }


}

@include mixin_media_query('tablet') {
    .treatment-intro{
        * {
            margin: 4px;
        }
    }
}