@import "variables";

body {
    font-family: $font-text;
    background-color: $color-white;
    color: $color-black;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

#contenido{
    margin:10%;

    > *{
        margin-bottom: 15%;
    }

    @include mixin_media_query('tablet') {
        margin: 10% 3% 0% 3%; //significa que el margen de arriba es 10%, el de la derecha 0%, el de abajo 0% y el de la izquierda 0%
    }
}

p{
    font-size: clamp(1rem, 1.2vw, 1.5rem); 
    line-height: 1.5;
    margin: 20px 0;

}

h1{
    font-family: $font-title;
    font-size: clamp(1.5rem, 4vw, 5rem); 
    color: $color-blue;
    margin: 20px 0;
}

h2{
    font-family: $font-title;
    font-size: clamp(1.5rem, 1.8vw, 3rem);
    color: $color-blue;
    margin: 20px 0;
}

h3{
    font-family: $font-title;
    font-weight: 300;
    font-size: clamp(1.2rem, 1.5vw, 2.5rem);
    color: $color-grey;
    margin: 20px 0;
}

h4{
    font-family: $font-title;
    font-size: clamp(1rem, 1.2vw, 2rem);
    color: $color-light-blue;
    margin: 20px 0;

}

a{
    text-decoration: none;
    font-size: clamp(1rem, 1.2vw, 1.5rem); 

}

/* BOTONES */
.blue-button,
.white-noFill-button,
.blue-noFill-button,
.white-button{
    font-weight: 600;
    border-radius: 1em;
    height: 40px;
    padding: 10px;
    
}

.blue-button {
    color: #FEFDFB !important;
    background-color:$color-blue;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.blue-button:hover {
    background-color:$color-brown;
    color: #FEFDFB !important;
    transition:cubic-bezier(0.645, 0.045, 0.355, 1)
}

.white-noFill-button{
    color:#FEFDFB;
    border: 2px #FEFDFB solid;
}

.blue-noFill-button{
    color:$color-blue;
    border: 2px $color-blue solid;
}

.white-button{
    color:$color-black;
    background-color: $color-white;
}

/*TEXTO*/
.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}


.bold{
    font-weight: 600;
}

.brown{
    color: $color-grey;
}

button{
    border:none;
}





