@import "variables";

body {
    font-family: $font-text;
    background-color: $color-white;
    color: $color-black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenido{
    margin:10%;

    > *{
        margin-bottom: 15%;
    }
}

p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 20px 0;

}

h1{
    font-family: $font-title;
    font-size: 2.5rem;
    color: $color-blue;
    margin: 20px 0;
}

h2{
    font-family: $font-title;
    font-size: 2rem;
    color: $color-blue;
    margin: 20px 0;
}

h3{
    font-family: $font-title;
    font-weight: 300;
    font-size: 1.5rem;
    color: $color-grey;
    margin: 20px 0;
}

h4{
    font-family: $font-title;
    font-weight: 300;
    font-size: 1.2rem;
    color: $color-light-blue;
    margin: 20px 0;

}

a{
    text-decoration: none;
}

/* BOTONES */
.blue-button,
.white-noFill-button,
.blue-noFill-button{
    font-weight: 600;
    border-radius: 1em;
    height: 40px;
    padding: 10px;
}

.blue-button {
    color: #FEFDFB !important;
    background-color: #3295A6;
}

.blue-button:hover {
    background-color: #7e736f;
    color: #FEFDFB !important;
    transition:cubic-bezier(0.645, 0.045, 0.355, 1)
}

.white-noFill-button{
    color:#FEFDFB;
    border: 2px #FEFDFB solid;
}

.blue-noFill-button{
    color:#3295A6;
    border: 2px #3295A6 solid;
}

/*TEXTO*/
.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}


.bold{
    font-weight: 600;
}


@include mixin_media_query_min('desktop') {
    

    p{
        font-size: 2rem;
    }

    h1{
        font-size: 3.5em;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 2rem;
    }

    //h4
    h4{
        font-size: 1.5rem;
    }

    main a{
        font-size: 2rem;
    }

    li{
        font-size: 2rem;
    }

    .blue-button,
    .white-noFill-button,
    .blue-noFill-button{
        height: 60px;
        padding: 20px;
        font-size: 2rem;
    }

}





