//normas genericas de toda la página
@import "variables";

body {
    font-family: $font-text;
    background-color: $color-white;
    color: $color-black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenido{
    margin:10%;

    > *{
        margin-bottom: 15%;
    }
}

h1{
    font-family: $font-title;
    font-size: 2.5rem;
    color: $color-blue;
    margin: 20px 0;
}

h2{
    font-family: $font-title;
    font-size: 2rem;
    color: $color-blue;
    margin: 20px 0;
}

h3{
    font-family: $font-title;
    font-weight: 300;
    font-size: 1.5rem;
    color: $color-grey;
    margin: 20px 0;
}

a{
    text-decoration: none;
}

/* BOTONES */
.blue-button,
.white-noFill-button,
.blue-noFill-button{
    font-weight: 600;
    border-radius: 1em;
    height: 40px;
    padding: 10px;
}

.blue-button {
    color: #FEFDFB !important;
    background-color: #3295A6;
}

.blue-button:hover {
    background-color: #7e736f;
    color: #FEFDFB !important;
    transition:cubic-bezier(0.645, 0.045, 0.355, 1)
}

.white-noFill-button{
    color:#FEFDFB;
    border: 2px #FEFDFB solid;
}

.blue-noFill-button{
    color:#3295A6;
    border: 2px #3295A6 solid;
}

/*TEXTO*/
.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}


.bold{
    font-weight: 600;
}

//para que los textos, titulos etc sean texto mas grande a partir de 1750