//&:hover
//include mixins

@mixin mixin_media_query($valor){
    $tamano: map-get($ruptura, $valor);
    @media screen and (max-width: $tamano){
        @content;
    }
}

//mixin para minimo
@mixin mixin_media_query_min($valor){
    $tamano: map-get($ruptura, $valor);
    @media screen and (min-width: $tamano){
        @content;
    }
}

@mixin mixin_media_query_horizontal($valor, $altura){
    $tamano: map-get($ruptura, $valor);
    @media screen and (max-width: $tamano) and (max-height: $altura) and (orientation: landscape){
        @content;
    }
}