//colores, fondos, etc + puntos de ruptura
$font-text: Montserrat;
$font-title: Poppins;

$color-blue: #267583; //antes #3A7CA5
$color-light-blue: #81c0cb;
$color-brown: #837a70;
$color-light-brown: #c3b8ac;
$color-dark-brown: #36322d;
$color-grey: #C5C1BE;
$color-white: #FEFDFB;
$color-black: #292929;

$ruptura: (
    "movil": 320px,
    "tablet": 800px,
    "laptop": 1200px,
    "desktop": 1550px
);