//colores, fondos, etc + puntos de ruptura
$font-text: Montserrat;
$font-title: Poppins;

$color-blue: #2d8797; //antes #3A7CA5
$color-light-blue: #9CCBD3;
$color-brown: #635B52;
$color-dark-brown: #36322d;
$color-grey: #C5C1BE;
$color-white: #FEFDFB;
$color-black: #292929;

$ruptura: (
    "movil": 320px,
    "tablet": 800px,
    "laptop": 1200px,
    "desktop": 1550px
);