//colores, fondos, etc + puntos de ruptura
$font-text: Montserrat;
$font-title: Poppins;

$color-blue: #3295A6;
$color-light-blue: #9CCBD3;
$color-brown: #635B52;
$color-grey: #C5C1BE;
$color-white: #FEFDFB;
$color-black: #292929;