@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&family=Poppins:wght@100;300;400;500;600&display=swap");
body {
  font-family: Montserrat;
  background-color: #FEFDFB;
  color: #292929;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenido {
  margin: 10%;
}
#contenido > * {
  margin-bottom: 15%;
}
@media screen and (max-width: 800px) {
  #contenido {
    margin: 10% 4% 0% 4%;
  }
}

p {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  line-height: 1.5;
  margin: 20px 0;
}

h1 {
  font-family: Poppins;
  font-size: clamp(1.5rem, 4vw, 5rem);
  color: #2d8797;
  margin: 20px 0;
}

h2 {
  font-family: Poppins;
  font-size: clamp(1.5rem, 1.8vw, 3rem);
  color: #2d8797;
  margin: 20px 0;
}

h3 {
  font-family: Poppins;
  font-weight: 300;
  font-size: clamp(1.2rem, 1.5vw, 2.5rem);
  color: #C5C1BE;
  margin: 20px 0;
}

h4 {
  font-family: Poppins;
  font-size: clamp(1rem, 1.2vw, 2rem);
  color: #9CCBD3;
  margin: 20px 0;
}

a {
  text-decoration: none;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
}

/* BOTONES */
.blue-button,
.white-noFill-button,
.blue-noFill-button,
.white-button {
  font-weight: 600;
  border-radius: 1em;
  height: 40px;
  padding: 10px;
}

.blue-button {
  color: #FEFDFB !important;
  background-color: #2d8797;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.blue-button:hover {
  background-color: #635B52;
  color: #FEFDFB !important;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.white-noFill-button {
  color: #FEFDFB;
  border: 2px #FEFDFB solid;
}

.blue-noFill-button {
  color: #2d8797;
  border: 2px #2d8797 solid;
}

.white-button {
  color: #292929;
  background-color: #FEFDFB;
}

/*TEXTO*/
.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.brown {
  color: #C5C1BE;
}

button {
  border: none;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.menu-icon {
  display: none;
  align-self: center;
}

.open-menu {
  display: none;
}

.close-menu {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-links {
    display: none;
    width: max-content;
  }
  .nav-links.visible {
    z-index: 1;
    top: 0;
    right: 0;
    display: block;
    position: fixed;
  }
  .open-menu {
    display: block;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
    gap: 1.7rem;
  }
}
.footer-logos {
  display: flex;
  justify-content: space-between;
}
.footer-elements {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}
.footer .footer-social {
  align-self: center;
}
@media screen and (max-width: 800px) {
  .footer-elements {
    gap: 2;
    flex-direction: column;
  }
}
@media screen and (min-width: 1550px) {
  .footer .footer-logos img {
    width: 100px;
    padding: 20px;
  }
}

/* INTRODUCCION */
.intro {
  display: flex;
  align-items: center;
}

/* SERENTIS */
.indexSerentis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* OPINIONES */
#opiniones-seccion {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#opiniones-seccion .opinion-text {
  text-align: center;
  align-self: center;
}
#opiniones-seccion .opinion {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#opiniones-seccion .opinion .opinion-img {
  align-self: center;
}

/* REDES SOCIALES */
#rrss-title-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#rrss-title-group .rrss-icons {
  display: flex;
  gap: 20px;
}

.rrss-carousel-container {
  position: relative;
  overflow: hidden;
}

.rrss-carousel {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0;
  padding: 0;
}

.rrss-slide {
  flex: 0 0 auto;
  margin-right: 0;
}

.rrss-slide img {
  width: 400px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* PARTNERS */
.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1550px) {
  #opiniones-seccion .opinion {
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  #opiniones-seccion .opinion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #opiniones-seccion .opinion .opinion-img {
    align-self: center;
  }
  .partners {
    grid-template-columns: 1fr;
  }
}
/* no se si esta bien pero tuve que hacerlo en el css porque tenia la imagen como background */
@media screen and (max-width: 800px) {
  .indexSerentis {
    flex-direction: column;
  }
  .indexSerentis img {
    margin-top: 50px;
  }
}
.clinica-intro {
  display: flex;
  align-items: center; /* Esto alinea los elementos horizontalmente */
}

.values-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.form-container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #FEFDFB;
  padding: 0;
}

.form-element {
  margin-bottom: 15px;
  color: #FEFDFB;
  /* Resto de tus estilos */
}
.form-element label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-element input[type=text],
.form-element input[type=tel],
.form-element input[type=email],
.form-element textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.form-element textarea {
  resize: vertical;
}
.form-element input[type=checkbox] {
  margin-right: 5px;
  vertical-align: middle;
}

@media screen and (min-width: 800px) {
  .form-inline {
    display: flex;
    justify-content: space-between;
  }
  .input-group {
    flex: 1;
    margin-right: 10px; /* Espacio entre los campos */
  }
  .input-group input[type=date] {
    width: 100%;
  }
}
.treatments-intro {
  align-items: center;
}

.tratamientos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 3%;
}

.tratamiento {
  display: flex;
  flex-direction: column;
}

.imagen {
  position: relative;
  overflow: hidden; /* Asegura que la imagen no se desborde */
}

.imagen h3 {
  position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .tratamientos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tratamientos .tratamiento {
    width: 90%;
  }
}
.treatment-intro {
  display: flex;
  height: 30vh;
  padding: 5%;
  justify-content: space-between;
  align-items: end;
  background: url("../media/img/treatments-img/acne-2200.webp") no-repeat;
  background-size: cover;
}
.treatment-intro h1 {
  margin: 0;
  color: #FEFDFB;
}
.treatment-intro a {
  padding: 1%;
  height: fit-content;
}

.treatment-cont {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10%;
}
.treatment-cont a {
  color: #2d8797;
  text-decoration: none;
}
.treatment-cont .treatment-description article {
  margin: 0;
  padding: 10px;
  padding-top: 0%;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  line-height: 1.5;
  margin: 20px 0;
}

@media screen and (max-width: 800px) {
  .treatment-cont {
    display: block;
  }
  .treatment-intro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }
  .treatment-intro * {
    margin: 4px;
  }
}
.nav-logo {
  width: 150px;
  height: auto;
  margin: 0 20px;
}

.navBar {
  width: 100%;
}

.nav-links a {
  text-decoration: none;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1.1rem;
  color: #292929;
  transition: all 0.8s ease 0s;
  margin: 0 20px;
}
.nav-links a:hover {
  color: #2d8797;
}
.nav-links a::after {
  transition: transform 0.3s ease;
}

.nav-list {
  list-style: none;
}

.menu-icon {
  scale: 2;
  margin: 20px;
  color: #292929;
  background-color: transparent;
  border: none;
}
.menu-icon:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .nav-links.visible {
    width: fit-content;
    height: max-content;
    background-color: #fefdfb;
    padding-bottom: 20%;
    border-radius: 0 0 0 10px;
    box-shadow: rgba(41, 41, 41, 0.4901960784) 0px 0px 5px;
  }
}
.footer {
  font-family: Montserrat;
  background-color: #36322d;
  color: #FEFDFB;
  padding: 20px;
}
.footer-logos {
  margin-bottom: 20px;
  border-bottom: 0.5px solid #FEFDFB;
}
.footer-logos img {
  width: 100px;
}
.footer-social img {
  width: 40px;
}
.footer-elements {
  padding: 10px;
}
.footer-elements > div {
  flex: 1;
  margin-right: 10px;
}
.footer-elements h3 {
  margin-bottom: 10px;
  color: #635B52;
}
.footer-elements ul {
  list-style: none;
  padding: 0;
}
.footer-elements ul a {
  color: #FEFDFB;
  text-decoration: none;
  font-weight: 100;
}

/* INTRODUCCION */
.indexIntro {
  background: url("../media/img/index/index-1800.webp") no-repeat center;
  background-size: cover;
  height: fit-content;
  width: 100%;
}
.indexIntro h1 {
  color: #FEFDFB;
}
.indexIntro .intro-info {
  padding: 25% 10%;
  width: 50%;
}
.indexIntro .intro-info > * {
  margin: 10px;
}

/* SERENTIS */
.indexSerentis {
  text-align: left;
  margin-left: 5%;
}
.indexSerentis img {
  width: 30%;
  border-radius: 10%;
}
.indexSerentis #indexSerentis-text {
  width: 60%;
}
.indexSerentis #indexSerentis-text p {
  margin-bottom: 10%;
}
.indexSerentis #indexSerentis-text article {
  padding-top: 2% !important;
}

/* OPINIONES */
#opiniones-seccion {
  text-align: center;
}
#opiniones-seccion:first-child {
  margin-bottom: 3.5rem;
}
#opiniones-seccion .opinion {
  width: fit-content;
  border: 1px solid #C5C1BE;
  box-shadow: 0px 0px 10px 0px #C5C1BE;
  border-radius: 10rem;
  padding: 1rem;
  margin: 30px;
}
#opiniones-seccion .opinion .opinion-img {
  width: 80%;
  border-radius: 50%;
}
#opiniones-seccion .opinion .opinion-text {
  text-align: left;
  padding: 30px;
}

/* REDES SOCIALES */
#rrss-title-group {
  justify-content: space-between;
}
#rrss-title-group .rrss-icons {
  gap: 20px;
}
#rrss-title-group .rrss-icons img {
  width: 50px;
}

/* PARTNERS */
.partners {
  margin: 30px;
}
.partners img {
  width: 60%;
  margin: 20px;
}

.prev,
.next {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  text-shadow: #C5C1BE;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1550px) {
  #opiniones-seccion .opinion {
    border-radius: 500px;
  }
  #opiniones-seccion .opinion .opinion-text {
    padding: 50px;
    margin: 50px;
  }
  .rrss-slide img {
    width: 800px;
  }
}
@media screen and (max-width: 1200px) {
  .indexIntro {
    background-image: url("../media/img/index/index-1550.webp");
  }
}
@media screen and (max-width: 800px) {
  .indexSerentis img {
    width: 50%;
  }
  .indexIntro {
    background-image: url("../media/img/index/index-1200.webp");
  }
  .indexIntro .intro-info {
    padding: 40% 10%;
    width: 80%;
  }
  #opiniones-seccion .opinion {
    border-radius: 400px;
    height: fit-content;
    padding: 5%;
  }
  #opiniones-seccion .opinion .opinion-img {
    width: 80%;
    border-radius: 50%;
  }
  #opiniones-seccion .opinion .opinion-text {
    text-align: center;
    padding: 30px;
    margin: 5px;
  }
  .partners img {
    width: 40%;
    margin: 20px;
    padding: 20px;
  }
}
@media screen and (max-width: 320px) {
  .indexIntro {
    background-image: url("../media/img/index/index-800.webp");
  }
  #opiniones-seccion .opinion {
    border-radius: 400px;
    height: 500px;
  }
  #opiniones-seccion .opinion .opinion-img {
    width: 80%;
    border-radius: 50%;
  }
  #opiniones-seccion .opinion .opinion-text {
    text-align: center;
    padding: 30px;
    margin: 30px;
  }
  .partners img {
    width: 30%;
    margin: 20px;
  }
}
.clinica-intro {
  background: url("../media/img/laClinica/laClinica-2100px.webp") no-repeat;
  background-size: cover;
  height: fit-content;
  width: 100%;
}
.clinica-intro .intro-info {
  padding: 25% 10%;
  width: 50%;
}
.clinica-intro .intro-info > * {
  margin: 10px;
}

.values-container {
  margin: 50px 0;
  display: flex;
  align-self: center;
}
.values-container .value {
  width: 300px;
  margin: 20px;
}

.about-text {
  padding: 100px;
  font-size: 1.2rem;
  color: #FEFDFB;
  font-weight: 100;
}
.about-text h2 {
  font-size: 2.5rem;
  color: #C5C1BE;
  margin: 20px 0;
}

#about-history {
  background: url("../media/img/laClinica-about/about-history-1550.webp") no-repeat center;
  background-size: cover;
}

#about-team {
  background: url("../media/img/laClinica-about/about-team-1550.webp") no-repeat center;
  background-size: cover;
  text-align: right;
}

#about-philosophy {
  background: url("../media/img/laClinica-about/about-philosophy-1550.webp") no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 1550px) {
  .values-container .value {
    width: 500px;
  }
}
@media screen and (max-width: 1550px) {
  .clinica-intro {
    background: url("../media/img/laClinica/laClinica-1550px.webp") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 1200px) {
  .clinica-intro {
    background: url("../media/img/laClinica/laClinica-1200px.webp") no-repeat;
    background-size: cover;
  }
  #about-history {
    background: url("../media/img/laClinica-about/about-history-1200.webp") no-repeat center;
    background-size: cover;
  }
  #about-team {
    background: url("../media/img/laClinica-about/about-team-1200.webp") no-repeat center;
    background-size: cover;
  }
  #about-philosophy {
    background: url("../media/img/laClinica-about/about-philosophy-1200.webp") no-repeat center;
    background-size: cover;
  }
}
@media screen and (max-width: 800px) {
  .clinica-intro {
    background: url("../media/img/laClinica/laClinica-800px.webp") no-repeat;
    background-size: cover;
  }
  .clinica-intro .intro-info {
    padding: 25% 10%;
    width: 100%;
  }
  #about-history {
    background: url("../media/img/laClinica-about/about-history-800.webp") no-repeat center;
    background-size: cover;
  }
  #about-team {
    background: url("../media/img/laClinica-about/about-team-800.webp") no-repeat center;
    background-size: cover;
  }
  #about-philosophy {
    background: url("../media/img/laClinica-about/about-philosophy-800.webp") no-repeat center;
    background-size: cover;
  }
  .about-text {
    padding: 50px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .clinica-intro {
    background: url("../media/img/laClinica/laClinica-600px.webp") no-repeat center;
    background-size: cover;
  }
  .clinica-intro .intro-info {
    padding: 10% 5%;
    width: 100%;
  }
  #about-history {
    background: url("../media/img/laClinica-about/about-history-600.webp") no-repeat center;
    background-size: cover;
  }
  #about-team {
    background: url("../media/img/laClinica-about/about-team-600.webp") no-repeat center;
    background-size: cover;
  }
  #about-philosophy {
    background: url("../media/img/laClinica-about/about-philosophy-600.webp") no-repeat center;
    background-size: cover;
  }
}
#form {
  background: url("../media/img/pruebacita6.jpg") no-repeat center;
  background-size: cover;
  padding: 20%;
  margin: 0%;
}
#form input, #form textarea {
  border: none;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(254, 253, 251, 0.5);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
#form h1 {
  color: #FEFDFB;
  font-size: 2em;
  text-align: center;
}

.treatments-intro {
  background: url("../media/img/tratamientos-intro/tratamientos-2200.webp") no-repeat center;
  background-size: cover;
  height: fit-content;
  width: 100%;
}
.treatments-intro .intro-info {
  padding: 10%;
  padding-top: 15%;
  text-align: center;
}

.tratamientos {
  margin: 1%;
  margin-bottom: 10%;
}

.tratamiento {
  border-radius: 40px;
  border: 1px solid #C5C1BE;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 700px;
}

.imagen {
  width: 100%;
  overflow: hidden; /* Asegura que la imagen no se desborde */
}

.imagen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); /* Ajusta la opacidad según tus  /* Ajusta la opacidad según tus necesidades */
  border-radius: 40px;
}

.imagen img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 40px;
}

.imagen h3 {
  color: #FEFDFB;
  padding: 10px;
  font-size: clamp(1.3rem, 0.5108rem + 0.8649vw, 2rem);
}

.descripcion {
  width: 85%;
  height: fit-content;
  padding: 5px 20px 20px 20px;
  margin-bottom: 20px;
  background-color: none;
}
.descripcion p {
  font-size: 1em;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 1550px) {
  .tratamiento {
    width: 40%;
  }
  .imagen img {
    height: 400px;
  }
  .imagen::after {
    height: 400px;
  }
}
@media screen and (max-width: 1550px) {
  .treatments-intro {
    background: url("../media/img/tratamientos-intro/tratamientos-1550.webp") no-repeat center;
    background-size: cover;
  }
  .tratamiento {
    width: 40%;
  }
  .imagen img {
    height: 200px;
  }
  .imagen::after {
    height: 200px;
  }
}
@media screen and (max-width: 1200px) {
  .treatments-intro {
    background: url("../media/img/tratamientos-intro/tratamientos-1200.webp") no-repeat center;
    background-size: cover;
  }
}
@media screen and (max-width: 800px) {
  .treatments-intro {
    background: url("../media/img/tratamientos-intro/tratamientos-800.webp") no-repeat center;
    background-size: cover;
  }
}
@media screen and (max-width: 320px) {
  .treatments-intro {
    background: url("../media/img/tratamientos-intro/tratamientos-600.webp") no-repeat center;
    background-size: cover;
  }
}

/*# sourceMappingURL=main.css.map */
